/* .containerGame {
    display: grid;
    grid-template-rows: repeat(18, auto);
    grid-template-columns: repeat(18, auto);
    gap: 10px;
}

.child {
    width: 100px;
    height: 100px;
    background-color: black;
} */
/* grid with lots of children ! ! ! */
/* need to add div with class containerGame */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* The Upper Menu */
.mainContainer {
    display: grid;
    grid-template-columns: repeat(18, auto);
    grid-template-rows: repeat(10, auto);
    width: 80vw;
    height: 100vh;
    padding: 20px;
    gap: 20px;
    background: white;
    position: absolute;
    left: 10vw;
}

.item {
    background: blanchedalmond;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item1 {
    display: flex;
    justify-content: space-around;
    grid-area: 1 / 1 / 1 / 19;
}

.item2 {
    grid-area: 2 / 1 / 11 / 17;
}

.item3 {
    grid-area: 2 / 17 / 11 / 19;
}

.box1 {
    cursor: pointer;
}

.box1 img {
    position: relative;
    width: 70px;
    border: 2px solid black;
    z-index: 0;
}

.box1 p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 14px;
    width: 70px;
    height: 65px;
    /* border: 2px solid black; */
}

.box1.surprise p {
    color: black;
    padding: 5px;
    font-family: arial;
    font-size: 14px;
    font-weight: 900;
    width: 70px;
    height: 65px;
    border: 2px solid black;
}

.box1.reload p {
    color: maroon;
    font-family: arial;
    font-size: 14px;
    font-weight: 900;
    width: 70px;
    height: 65px;
    border: 2px dotted maroon;
}

.inner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: blanchedalmond;
    position: absolute;
    z-index: 1;


}

/* The Right Menu */
.item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.item3 img {
    width: 60px;
    border: 2px dotted black;
}

.item3 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}